
  .slider-container {
    width: 100%;
    overflow: hidden;
  }
  
  .slider {
    display: flex;
  }
  
  .slider img {
    border-radius: 10px;
    width: 100%;
    height: auto;
    transform: translateX(500);
    /* transform: matrix(); */
    /*filter: blur(0);  Initially no blur */
  }
  
  /*.slider img.blur {
    filter: blur(5px);  Apply blur to transitioning images 
  } */
